:root {
    --background-color-0: #eee;
    --background-color-1: #f5f5f5;
    --background-color-2: #ffffff;
    --text-color: #202020;
    --text-color-0: #20202050;
    --img-filter: invert(1);
    --img-filter-0: invert(0);
}

/*var(--img-filter)*/

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background-color-0);
    background-size: cover;
    overflow-x: hidden;
    top: 0;
    left: 0;
}

.userinformation {
    z-index: 10;
    pointer-events: none;
    background: url(/assets/jpg/Jeff_Killer.jpg);
    background-size: cover;
    position: fixed;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: opacity 20s ease;
    box-shadow: inset 0 0 5000px #000;
}

/* width */
::-webkit-scrollbar {
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.modal-content {
    background-color: var(--background-color-2);
    padding: 50px 80px;
    border: 2px solid var(--background-color-2);
    border-radius: 8px;
    z-index: 3;
    position: absolute;
    right: 12.5%;
    top: 300px;
    box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.22);
}

.modal-content h1 {
    color: var(--text-color);
    font-family: 'Dancing Script', cursive;
}

.modal-content a {
    display: block;
    text-align: center;
    background: #402285;
    margin: 5px 0px;
    color: var(--background-color-0);
    padding: 7px 0px;
    border-radius: 8px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    transition: color 0.3s ease, background 0.3s ease;
}

.modal-content a:hover {
    background: var(--text-color);
    color: var(--background-color-0);
}

.modal-content form {
    display: inline-block;
}

.modal-content form label {
    display: block;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    color: var(--text-color);
}

.modal-content form input {
    display: block;
    margin-bottom: 1em;
    padding: 7px 6px;
    border: 1px solid #999;
    border-radius: 8px;
    width: 100%;
}

.modal-content form button {
    display: inline;
    margin-top: 20px;
    padding: 4px;
    border: 1px solid var(--text-color);
    border-radius: 8px;
    cursor: pointer;
    background: var(--background-color-2);
}

.slogan {
    font-weight: bold;
}

#log-in {
    background: #0055ff;
    color: var(--background-color-2);
    border: 1px solid #0055ff;
    width: 35%;
    transition: background 0.3s ease, color 0.3s ease;
}

#join {
    background: #199101;
    color: var(--background-color-2);
    border: 1px solid #199101;
    width: 55%;
}

#join:hover, #log-in:hover {
    background: var(--text-color);
    border: 1px solid var(--text-color);
    color: var(--background-color-2);
}

.reveal {
    position: relative;
    cursor: pointer;
    user-select: none;
    text-align: right;
    margin-top: -37.5px;
    margin-left: 190px;
    width: 20px;
}

.nb {
    position: fixed;
    background-color: var(--background-color-0)/*#402285*/;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 4;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 10px 10px 47px 45px rgba(238,238,238,1);
}

.nav-scrolled {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    background-color: var(--background-color-2) !important;
    box-shadow: 10px 10px 47px 45px rgba(255,255,255,1);
}

.nb_top_logo {
    display: inline;
    user-select: none;
}

.nb_top_logo img {
    vertical-align: middle;
    filter: var(--img-filter);
    margin-left: 12.5%;
}

.gullart {
    position: absolute;
    top: 250px;
}

.gullart img {
    width: 500px;
}

.nb_top_logo h1 {
    display: inline;
    font-size: 25px;
    font-family: 'Cormorant', serif;
    color: var(--text-color);
    margin-left: 10px;
    vertical-align: middle;
}

.bank-text {
    font-size: 15px;
    color: var(--text-color);
}
/*402285*/
.list {
    display: inline;
    right: 0;
    background: var(--background-color-0);
    /*background: rgb(59,59,59);
    background: linear-gradient(0deg, rgba(59,59,59,1) 0%, rgba(13,13,13,1) 29%, rgba(80,80,80,1) 100%);*/
}

.list ul {
    display: flex;
    margin-top: 0px;
    margin-left: calc(12.5% - 40px);
}

.list ul li {
    padding: 7.5px 10px;
    margin: 0px 0px;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    user-select: none;
    transition: background 0.3s ease;
}

.list ul li:hover {
    /*background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 31%, rgba(195,195,195,1) 100%);*/
}

.list ul li a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.list ul li:hover a {
    color: var(--text-color-0);
}

.welcome {
    position: absolute;
    margin: 0;
    margin-top: 17.5em;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
}

.page {
    margin-top: 30em;
    position: absolute;
    left: 0;
    right: 0;
}

.section {
    position: relative;
    background: var(--background-color-0);
    left: 0;
    margin: 0;
    top: 6em;
    width: 100%;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

@supports (backdrop-filter: none) {
    .welcome h1 {
        display: inline-block;
        color: var(--text-color);
        font-size: 45px;
        font-family: 'Roboto', sans-serif;
        margin-left: 12.5%;
        padding: 5px 0px;
        border-radius: 10px;
    }
}

@supports not (backdrop-filter: none) {
    .welcome h1 {
        display: inline-block;
        color: var(--text-color);
        font-size: 45px;
        font-family: 'Roboto', sans-serif;
        margin-left: 12.5%;
        padding: 5px 0px;
        border-radius: 10px;
    }
}

.le {
    font-family: 'Dancing Script', cursive;
}

.welcome p {
    color: var(--text-color);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.about {
    margin-top: 30em;
}

.about, .other-info {
    background: var(--background-color-2);
    color: var(--text-color);
}

.about-content, .other-content {
    text-align: justify!important;
    margin-right: 20% !important;
}

.section .content {
    padding-left: 12.5%;
    padding-top: 15em;
    padding-right: 12.5%;
    padding-bottom: 40em;
    margin: 0;
    text-align: center;
    scroll-snap-align: start;
}

.prices {
    display: inline-block;
    margin: 100px;
    margin-top: 50px;
    width: 15em;
}

.Gullcard {
    position: fixed;
    display: block;
    width: 500px;
    z-index: 3;
    bottom: 60px;
    left: -5%;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.nav-scrolled-card {
    opacity: 1;
    pointer-events: auto;
}

.Gullcard img {
    width: 300px;
}

.Gullcard a {
    text-decoration: none;
    color: var(--text-color);
}

.banks {
    display: inline-block;
    padding-bottom: 2em;
    margin: 100px;
    margin-top: 50px;
}

.footer {
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 1;
    bottom: 0;
    left: 0;
    z-index: 999999999;
}

.signuploginFooter {
    position: fixed;
    width: 100%;
    background: transparent !important;
    text-align: center;
    z-index: 1;
    bottom: 0;
    left: 0;
}

.signuploginFooter p {
    color: var(--text-color) !important;
}

.footer-content {
    display: inline-block;
}

.footer-content p {
    color: var(--text-color);
    padding: 2px 0px 2px 0;
}

.signuploginBackground {
    background: var(--background-color-0);
}

.signup-div {
    text-align: center;
    margin-top: 225px;
    z-index: 999;
}

.signupform {
    display: inline-block;
    background: var(--background-color-2);
    padding: 10px 60px;
    border-radius: 10px;
    z-index: 10;
    box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.22);
}

.signupform h1 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.signupform .reveal {
    position: relative;
    text-align: right;
    display: block;
    margin-left: 105px;
}

.signupform .loginReveal {
    position: relative;
    text-align: right;
    display: block;
    margin-left: 247px;
}

.signupform input {
    display: block;
    width: 250px;
    height: 26px;
    margin: 10px;
    border: 1px solid #999;
    border-radius: 8px;
    padding: 7px 6px;
}

.sameLine input {
    display: inline;
    width: 106px;
}

.signupform button {
    display: inline-block;
    width: 200px;;
    border: 1px solid var(--text-color);
    margin: 20px;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
}

.signupform p {
    font-family: 'Roboto', sans-serif;
}

/*user-info*/
.user-info {
    position: absolute;
    margin-top: 7em;
    width: 100%;
    left: 0;
    text-align: center;
}

.userdis {
    display: inline-block;
    width: 74%;
}

.accounts-table td{
    width: auto !important;
}

.user-info h3 {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    text-align: left;
}

.user-info h2 {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    text-align: left;
}

.user-info table {
    background: transparent;
    border-spacing: 0px;
    border-collapse: separate;
}

tr:first-child td:first-child { 
    border-top-left-radius: 8px;
}
tr:first-child td:last-child { 
    border-top-right-radius: 8px; 
}
tr:last-child td:first-child { 
    border-bottom-left-radius: 8px; 
}
tr:last-child td:last-child { 
    border-bottom-right-radius: 8px; 
}

.user-info tr {
    background: transparent;
}

.user-info th {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    text-align: left;
    padding: 10px;
}

.user-info td {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    text-align: left;
    padding: 10px;
    height: 2em;
    width: 10em;
}
/*d1d1d1*/

.positive p {
    color: white;
    display: inline;
    background: green;
    padding: 2px 5px;
    border-radius: 8px;
}

.negative p {
    color: white;
    display: inline;
    background: red;
    padding: 2px 5px;
    border-radius: 8px;
}

.after-content {
    display: block;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
}

.load {
    color: #0000EE;
    text-decoration: underline;
}

.load, .download {
    display: inline;
    margin: 5px;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.download {
    background: var(--text-color);
    text-decoration: none;
    color: var(--background-color-2);
    transition: color 0.3s ease, background 0.3s ease;
}

.download:hover {
    background: var(--background-color-2);
    text-decoration: none;
    color: var(--text-color);
}

.signupform p {
    margin-left: 12px;
}

.expire {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #00000080;
    backdrop-filter: blur(10px);
    z-index: 9;
    top: 0;
    left: 0;
}

.expire h1 {
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: var(--background-color-2);
}

.expire button {
    display: block;
    text-align: center;
    margin: 10px auto auto auto;
    font-family: 'Roboto', sans-serif;
    color: var(--background-color-2);
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer
}

.update-anchor {
    display: block;
    margin-top: -2em;
    color: #0000EE;
    text-align: right;
    font-family: 'Roboto', sans-serif;
}

.pagi {
    padding: 5px 10px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    background: transparent;
    text-decoration: none;
    transition: color ease 0.3s, background ease 0.3s, border-radius 0.2s ease;
    border: transparent solid 1px;
    font-size: 16px;
}

.pagi:hover {
    color: var(--background-color-2);
}

.pagetoomuch {
    user-select: none;
}

.current {
    user-select: none;
    color: #000;
    background: var(--background-color-2);
    border: var(--text-color) solid 1px;
    font-family: 'Roboto', sans-serif;
}

.current:hover {
    color: #000 !important;
    font-family: 'Roboto', sans-serif;
}

.pagination {
    text-align: center;
    border-spacing: 0;
}

.pagination a {
    border-top: 1px solid rgba(0,0,0,0.15);
    border-bottom: 1px solid rgba(0,0,0,0.15);
}

.pagination a:nth-child(2) {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-left: 1px solid rgba(0,0,0,0.15);
}

.pagination a:nth-last-child(2) {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-right: 1px solid rgba(0,0,0,0.15);
}

.pagination a:first-child {
    margin: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.15);
}

.pagination a:last-child {
    margin: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.15);
}

.showall {
    display: block;
    font-family: 'Roboto', sans-serif;
    text-align: left !important;
    color: var(--text-color);
    margin-top: 20px;
    padding: 0.5em;
    margin: 10px 0px;
    border-radius: 10px;
    transition: 0.3s ease background, color 0.3s ease;
}

.showall:hover {
    color: var(--background-color-0);
}

@media print {    
    .no-print, .no-print * {
        display: none !important;
    }
}
/*
#loadpage {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0vh;
    bottom: 0;
    background: white;
    display: block;
}*/

.transfertable {
    border: 1px solid transparent !important;
}

.Card input,select {
    width: 100%;
    border: 1px solid var(--background-color-0);
    background: var(--background-color-0);
    padding: 10px;
    border-radius: 10px;
}

.transfertable input {
    width: 90%;
}

.transfertable button {
    border: 1px solid #402285;
    background: #402285;
    color: var(--background-color-0);
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 10px;
    transition: border 0.3s ease, background 0.3s ease, color 0.3s ease;
}

.transfertable button:hover {
    border: 1px solid var(--background-color-0);
    background: var(--background-color-0);
    color: var(--text-color);
}

.transfertable th {
    border-bottom: 1px solid var(--background-color-0) !important;
}

.transfertable td {
    width: 2em;
    padding-left: 0;
}

.transfertable td a {
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

.transfertable td div {
    color: var(--background-color-0);
    display: block;
    text-align: left;
}

.transfertable tr {
    background: transparent;
}

.transfertable th {
    text-align: left !important;
    padding-left: 0;
}

.ins-funds {
    color: firebrick;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-bottom: -2em;
}

.error-message {
    color: firebrick !important;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-bottom: 0em;
}

.success-message {
    width: 250px;
    color: forestgreen;
    text-align: left;
}

select {
    cursor: pointer;
}

.acc-table {
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
}

.acc-table tr {
    display: block;
}

.acc-table td {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    width: 150px;
    text-align: left;
}

.info-nav {
    position: fixed;
    background: var(--background-color-0);
    width: 100%;
    top: 0;
    left: 0;
    padding: 15px 10px;
    box-shadow: 0px 0px 33px -2px rgba(0,0,0,0.17);
    z-index: 999999;
}

.info-nav p {
    display: inline;
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
    margin: 0 20px 0 20px;
}

.info-nav a {
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

.info-nav a:hover {
    text-decoration: none;
    color: #999;
    font-family: 'Roboto', sans-serif;
}

.info-nav table {
    width: 400px;
    vertical-align: middle;
}

.acc-table th {
    font-size: 14px !important;
    font-family: 'Roboto', sans-serif;
    width: 150px;
    text-align: left;
    font-weight: 100;
    color: #999;
}

.username-name {
    margin-top: 30px;
    float: right;
    margin-right: 35px;
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s ease;
    font-family: 'Dancing Script', cursive;
}

.username-name:hover {
    color: #999;
}

.acc-table .currency {
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 3px;
}

.vertical-nav {
    position: fixed;
    height: 100%;
    width: 225px;
    top: 0;
    left: 0;
    z-index: 999998;
    background: var(--text-color);
    box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.15);
    border: 1px solid rgba(0,0,0,0.15);
}

.vertical-nav-item {
    width: 100%;
    padding: 12px 0px 12px 0px; /*trbl*/
    display: block;
    text-align: left;
    box-shadow: none;
    transition: 0.3s ease;
    text-decoration: none;
    margin-top: 10px;
}

.vertical-nav-item-first {
    margin-top: 30px;
}

.vertical-nav-item:hover, .vertical-nav-item-current {
    box-shadow: inset 13px 3px 0px -8px var(--background-color-2);
    background: #ffffff10;
}

.vertical-nav-item-logo:hover, .vertical-nav-item-logo {
    box-shadow: none;
    background: none;
}

.vertical-nav-item-logo:hover > p, .vertical-nav-item-logo > p {
    color: var(--background-color-2);
}

.vertical-nav-item img, .vertical-nav-item-current img {
    filter: var(--img-filter-0);
    transition: filter 0.3s ease;
}

.vertical-nav-item img {
    line-height: 100%;
    vertical-align: middle;
    filter: opacity(1) var(--img-filter);
    margin-left: 20px;
}

.vertical-nav-item p {
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    vertical-align: middle;
    margin-top: 6px;
    margin-left: 40px;
    color: var(--background-color-2);
}

.logo-image {
    margin-right: -10px;
    filter: brightness(100%) !important;
}

.logo-text {
    font-size: 18px !important;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: var(--text-color);
    text-transform: none !important;
}

.vertical-nav-item-logo {
    margin-top: 30px;
}

.vertical-nav-item-divider {
    margin-top: 50px;
}

.user_bank_information {
    margin-left: 255px;
    margin-top: 40px;
}

.dashboard h1 {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 22px;
    color: var(--text-color);
}

.dashboard-text {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 12px;
    margin-top: -12px;
}

.dashboard {
    width: 81.5%;
}

.dashboard-section {
    margin-top: 30px;
    width: 100%;
}

.dashboard-section h2 {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
    opacity: 0.75;
}

.money-format {
    text-transform: uppercase;
    font-size: 10px;
}

.recent-actions {
    box-shadow: 0px 0px 45px -2px rgba(0,0,0,0.15);
    background: #40228590;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    padding: 2px 10px;
    border-radius: 8px;
    color: var(--background-color-2);
    margin-top: 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.5s ease, color 0.5s ease;
    text-decoration: none;
}

.recent-actions:hover {
    background: var(--background-color-0);
    color: var(--text-color);
}

.Wrap {
    text-align: center;
}

.available {
    display: block;
    width: 100%;
    border-radius: 8px;
    text-align: center;
}

.Card {
    display: inline-block;
    margin: 20px 20px 20px 20px;
    text-align: center;
    background: var(--background-color-1);
    color: var(--text-color);
    width: 25%;
    height: 200px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.15);
    transition: 0.3s ease;
    overflow: auto;
}

.CardDoubleHor {
    width: calc(50% + 40px + 6px);
}

.CardFullHor {
    width: calc(75% + 80px + 12px);
}

.CardDoubleVert {
    height: calc(440px + 6px);
}

.CardTrippleVert {
    height: calc(680px + 12px);
}

.CardButton {
    cursor: pointer;
    background-color: forestgreen;
    color: var(--background-color-2);
}

.CardHiddenFlow {
    overflow: hidden;
}

.CardSection {
    display: inline;
    height: 1000px;
    margin: 0;
    transition: 1s ease;
    position: relative;
    z-index: 9;
}

.CardSection button {
    display: inline !important;
    margin-top: 30px !important;
    background-color: forestgreen !important;
    color: var(--background-color-2) !important;
    border-radius: 5px !important;
    border: none !important;
    font-size: 16px !important;
    padding: 10px !important;
    border: 1px solid rgba(0,0,0,0.15) !important;
    cursor: pointer !important;
    box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.15) !important;
}

.CardSection h1 {
    font-weight: 100;
}

.CardSection button:hover {
    background: var(--text-color) !important;
    color: var(--background-color-0) !important;
}

.CardSection button:disabled {
    background: var(--text-color) !important;
    color: var(--background-color-0) !important;
    cursor: not-allowed !important;
}

.CardSectionFirst {
    margin-top: calc(80px);
}

.firstSection {
    margin-top: calc(80px);
}

.secondSection {
    margin-top: calc(80px - 1000px);
}

.thirdSection {
    margin-top: calc(80px - 2000px);
}

.Card:hover {
    box-shadow: 0px 0px 45px -2px rgba(0,0,0,0.15);
}

.CardNoHover:hover {
    box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.15);
}

.step {
    display: inline-block;
    width: 400px;
    padding: 50px 0px;
    margin-top: 0px;
    background: var(--background-color-1);
    z-index: 999;
    position: relative;
}

.circle {
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    margin: 0px 50px;
    border: 2px solid var(--text-color);
    transition: 0.3s ease;
    cursor: pointer;
}

.currentCircle {
    background: var(--text-color);
}

.Card p {
    display: block;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 13px;
    margin-top: 55px;
    text-align: center;
    transition: 0.3s ease;
}

.Card h3, .Card select, .Card button, .Card input {
    display: block;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
    border-radius: 0px;
    transition: 0.3s ease;
}

.Card input, .Card select, .Card button {
    width: 300px;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    font-size: 20px;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 5px;
    box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.15) !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.third-line {
    display: block;
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
    margin-top: -10px;
    margin-bottom: 10px;
    font-style: italic;
}

.Card a {
    color: var(--background-color-2);
    padding: 4px 7px;
    border-radius: 15px;
    text-decoration: none;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 13px;
    box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.15);
    transition: 0.5s ease;
}

.Card table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.tableButton {
    display: inline-block;
    transform: translateY(-10px);
}

.Card th {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bolder;
}

.Red {
    background-color: firebrick;
    color: var(--background-color-2);
    box-shadow: 0px 0px 5px -2px rgba(178, 34, 34, 0.25);
    transition: box-shadow 0.5s ease;
}

.Red:hover {
    background-color: firebrick;
    color: var(--background-color-2);
    box-shadow: 0px 0px 45px -2px rgba(178, 34, 34, 0.50);
}

.Blue {
    background-color: dodgerblue;
    color: var(--background-color-2);
    box-shadow: 0px 0px 5px -2px rgba(30, 144, 255, 0.25);
}

.Blue:hover {
    background-color: dodgerblue;
    color: var(--background-color-2);
    box-shadow: 0px 0px 45px -2px rgba(30, 144, 255, 0.50);
}

.Yellow {
    background-color: rgb(224, 219, 31);
    color: var(--text-color);
    box-shadow: 0px 0px 5px -2px rgba(224, 219, 31, 0.50);
}

.Yellow:hover {
    background-color: rgb(224, 219, 31);
    color: var(--text-color);
    box-shadow: 0px 0px 45px -2px rgba(224, 219, 31, 0.50);
}

.Card td, .Card th {
    width: 300px;
    padding: 10px;
}

.Card td {
    font-family: 'Roboto Mono', monospace;
}

.TL {
    border-top-left-radius: 8px;
}

.TR {
    border-top-right-radius: 8px;
}

.toOne {
    background-color: darkgoldenrod;
}

.toTwo {
    background-color: darkseagreen;
}

.toThree {
    background-color: darksalmon;
}

.toNone {
    background-color: transparent;
    pointer-events: none;
}

.Card a:hover {
    background: var(--text-color);
}

.positiveRecent {
    color: forestgreen;
}

.negativeRecent {
    color: firebrick;
}

.CardDivider {
    margin: 20px 0px;
}

.CardNoStyle {
    box-shadow: none;
    border: none;
    background: transparent;
}

.CardNoStyle:hover {
    box-shadow: none;
    border: none;
    background: transparent;
}

.paginationWrap .CardBottom {
    display: inline-block;
    text-align: center;
}

.CardBottom a {
    background: var(--background-color-2);
    color: var(--text-color);
}

.CardBottom a:hover {
    background: var(--text-color);
    color: var(--background-color-2);
}

.CardBottom .current {
    background: var(--text-color);
    color: var(--background-color-2);
}

.CardBottom .current:hover {
    background: var(--text-color);
    color: var(--background-color-2) !important;
}

.error {
    color: firebrick;
}

.downloadLink {
    right: 13.5%;
    position: absolute;
    background: var(--background-color-1);
    padding: 7.5px 10px;
    color: var(--text-color);
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s ease;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.15);
    border: 1px solid rgba(0,0,0,0.15);
    text-align: center;
}

.downloadLink:hover {
    background: var(--text-color);
    color: var(--background-color-1);
}

/* Customize the label (the container) */
.container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Roboto Mono', monospace;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--background-color-0);
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.15);
    transition: 0.3s ease;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media only screen and (max-width: 1000px) {
    .Card {
        width: 100%;
    }
    
    .dashboard {
        width: 60%;
    }
}